*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto";
  }
.header {
    width:100%;
    height:849px;
    background: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);
   
}
svg {
    margin-top: -300px;
}
.navbar {
    height:156px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 40px;
}
.navbar-logo {
    cursor: pointer;
    margin-right: auto;
}
.navbar-menu,.navbar-btn{
    list-style:none;
}
.navbar-menu li{
    display: inline-block;
    padding: 20px;
}
a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 15px;
}
.navbar-btn li{
    display: inline-block;
    padding: 20px 1px;
}
.input_email{
    
    padding: 10px 39px;
    
    position: static;
    left: 0%;
    right: 35.92%;
    top: 0%;
    bottom: 0%;
    
    background: #EFEFEF;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 39px;
}
.btn_subcribe{
    color: #EF2779;
    padding: 10px 38px;
    
    position: static;
    left: 66.9%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    /* Light text */
    background: #FFFFFF;
    border-radius: 35px;
}
.home-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 104px 82px;
}
.content-left{
    z-index: 9999;
    margin-left: -30%;
    margin-top:-15%;
}
.content-right {
    margin-top:-30%;
    margin-left: -5%;
    color: #FFFFFF;
    font-family: "Roboto";
}
.content-right h1{
    font-weight: 900;
    font-size: 55px;
}
.content-right h4{
    font-weight: 700;
    font-size: 16px;
    padding-top: 10px;
    width: 298px;
    height: 60px;
}
.btn_action{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    margin-top: 20px;

    position: static;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    /* Light text */
    background: #FFFFFF;
    border-radius: 35px;
    color: #38A3F1;
    font-family: "Roboto";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;

}
.feature{
    height: 612px;
    width: 100%px;
    left: 0px;
    margin-top:-5px;
    border-radius: 0px;
    background: #252B42;
    padding-top: 100px;
    color: #FFFFFF;
}
.feature h3{
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
}
.feature h2{
    font-family: Roboto;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: 57px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    padding-top: 20px;
}
.feature h4{

    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    padding-top: 20px;

}
.items-content{
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.item {
    height: 187px;
    width: 255px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    margin:20px;
}
.headline{    
    display: flex;
    flex-direction: row;
    align-items: left;
    padding: 0px;
    position: static;
}
.headline img{
    padding-top: 10px;
}
.headline li{
    float:left;
    list-style: none;
    align-items: left;
}
.headline h3{
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
}
.headline p{
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    margin-top: 10px;
}